[user]
name = Alban d'Aquino
email = alban.daquino@gmail.com
signingkey = 7C3BD7FD4B61D14E

[init]
defaultBranch = main

[commit]
gpgsign = true

[gpg]
program = /usr/bin/gpg

[credential]
helper = cache --timeout=3600

[pull]
rebase = false
