[user]
	email = "alban.daquino@gmail.com"
	name = "Alban d'Aquino"
	signingkey = 4592F85FBE175E45

[credential]
	helper = keychain

[github]
	user = albandaquino
	# token = 

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	program = /usr/bin/gpg

[credential]
	helper = cache --timeout=3600

[pull]
	rebase = true

[gitlab]
	user = alban.daquino
